@*横並びを縦並びにするテーブルレスポンシブ 　参考サイト
    https://b-risk.jp/blog/2018/07/table-css/
    https://monomode.co.jp/web/css-grid.html
*@

@{
    <div class="profile-title">
        <div class="profile-title">

            <ul class="listprofile">
                <li class="nameprofile">
                    名前
                    <ul class="unorderedprofile">
                        <li class="namedetail">I'm ishishijuno </li>
                    </ul>
                </li>
                <li class="workprofile">
                    職業
                    <ul class="unorderedprofile">
                        <li class="workdetail">I'm Programa</li>
                    </ul>
                </li>
                <li class="freetimeprofile">
                    趣味
                    <ul class="unorderedprofile">
                        <li class="freetimedetail">I like watch Adult video </li>
                    </ul>
                    <ul class="unorderedprofile">
                        <li class="freetimedetailtwo">カメラ</li>
                    </ul>
                </li>
                <li class="careerprofile">
                    経歴
                    <ul class="unorderedprofile">
                        <li class="careerdetail">2015年からIT業界に生息しており。主に、c#、Asp.net　で業務アプリを作成してきました。もちろんフォームアプリもあります。現在転職を視野に入れて奮闘中 </li>
                    </ul>

                </li>
            </ul>
        </div>

    </div>
}
