/*ヘッダー*/
/*左右均等配分*/
.headercolor {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 20px;
    background-color: #808080;
}

/*フッター*/

.footercolor {
    text-align: center;
}

.footercolor p {
    background-color: #808080;
    color: white;
}


/*上下中央揃え*/
.header-container {
    display: flex;
    align-items: center;
}

    .header-container li {
        display: inline;
        margin: 0 5px;
    }
        .header-container li a {
            text-decoration: none;
            color: white;
        }
